

.hero_text{
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    color: white;
    z-index: 999999;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    left: 0;
    right: 0;
    
}
.hero_text h1{
    font-size: 3rem;
    margin :20px;
}

.hero_text p{
    margin: 30px;
    font-size: 1.2rem;
}