.btn_selected_trending{
    background-color: var(--primary);
    border: none;
    margin-right: 10px;
    color: white;
}
.btn_selected_trending div{
    color: white;
}
.btn_unselected_trending div{
    color: black;
}
.btn_unselected_trending{
    border: none;
}
.trending_choose_btns button{
    cursor: pointer;
    color: white;
    padding: 3px 20px;
    border-radius: 20px;
    font-size: 20px;
    width: unset;
    height: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}


.trending_choose_btns{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

@media (max-width: 450px){
    .trending_choose_btns button{
        padding: 7px;
        font-size: 20px;
    }
}