
.hero_container{
    position: relative;
    height: 86vh;
}



.hero_img img{
    position: absolute;
    filter: brightness(0.4);
    width: 100%;
    height: 86vh;
    object-fit: cover;
    object-position: center;
}